* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Boogaloo';
    background: url('./assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100dvh;
}

a {
    text-decoration: none;
    color: black;
    text-shadow:
        1px 1px 0 #FFF,
        -1px -1px 0 #FFF,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    transition-duration: 125ms;
}

a:hover {
    font-size: 26px;
}

h1 {
    font-size: 60px;
    -webkit-text-stroke: 2px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

h3 {
    font-size: 32px;
}

canvas {
    background-color: black;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}

.d-none {
    display: none !important;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    background-image:
        linear-gradient(to bottom right in oklab,
            oklch(100% .5 109) 0%, oklch(72% .5 100) 100%);
    padding: 16px;
    font-size: 30px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px black;
    transition-duration: 125ms;
}

.btn-round {
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 20px;
    padding: 8px;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.game-container {
    display: flex;
    position: relative;
}

.fullscreen-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 50px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 10;
    transition-duration: 125ms;
}

.fullscreen-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.fullscreen-btn img {
    width: 34px;
    opacity: 0.3;
}

.game-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.ingame-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.75;
}

.ingame-overlay-row {
    display: flex;
    width: 100%;
    padding: 1%;
}

.ingame-overlay-row-top {
    justify-content: right;
    align-items: center;
    height: 12%;
}

.ingame-overlay-sound {
    height: 100%;
    transition-duration: 125ms;
}

.ingame-overlay-sound:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.ingame-overlay-row-bottom {
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.ingame-overlay-mobile-group {
    display: none;
    height: 100%;
    width: 150px;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.touch-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

.touch-img-left {
    background-image: url('./assets/img/keyboard_arrow_left.svg');
}

.touch-img-right {
    background-image: url('./assets/img/keyboard_arrow_right.svg');
}

.touch-img-throw {
    background-image: url('./assets/img/throw.png');
    background-size: 100%;
}

.touch-img-jump {
    background-image: url('./assets/img/jump.png');
    background-size: 100%;
}

.menu-background {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('./assets/img/9_intro_outro_screens/start/startscreen_3.png');
    background-size: cover;
    background-position: center;
}

.menu-close {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 2px;
    top: 2px;
    background-image: url('./assets/img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 125ms;
}

.menu-close:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.menu-start-btn-row {
    display: flex;
    justify-content: center;
    gap: 96px;
    padding: 20px;
}

.menu-start {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.menu-game-over {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 32px;
    width: 100%;
    height: 100%;
    background: url('./assets/img/9_intro_outro_screens/game_over/gameover.png');
    background-position: center;
    background-size: cover;
}

.menu-story {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 16px;
    color: white;
    font-size: 2.6rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    position: relative;
}

.menu-background-dark {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 48px;
}

.btn-menu-sound {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    gap: 16px;
}

#menu-sound-img {
    width: 120px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    width: 1920px;
    padding-left: 32px;
    padding-right: 32px;
    color: black;
    text-shadow:
        1px 1px 0 #FFF,
        -1px -1px 0 #FFF,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.controls-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
    padding: 8px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px 2px black;
    position: relative;
}

.controls-container-column-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.controls-container-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

.controls-container-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-container-row-left {
    display: flex;
    width: 100px;
    justify-content: center;
}

.controls-container-row-right {
    width: 160px;
}

.controls-container-row img {
    height: 32px;
    filter: drop-shadow(1px 1px 1px black);
}

@media (max-width: 896px) {
    .ingame-overlay-mobile-group {
        display: flex;
    }

    .fullscreen-btn {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    footer {
        display: none;
    }

    .controls-container {
        display: none;
    }
}